.footer {
  background-color:whitesmoke;
  background-color: #1e3a8a;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.fontColor{
    color: antiquewhite;
}